<center>
<h1>Astronauts</h1>

<% @astronauts.each do |astronaut| %>
  <br><section id = "astronaut-<%=astronaut.id%>">
    <h3><%= astronaut.name %></h3>
    <p>Age: <%= astronaut.age %></p>
    <p>Job: <%= astronaut.job %></p>
    <p>Missions: <%= astronaut.missions_by_name %></p>
    <p>Total Time in Space: <%= astronaut.total_time_in_space %> days</p>
  <br></section>
<% end %>

<h2>Average Age: <%= @astronauts.average_age %></h2>
</center>
